################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GIG/FileContentIndex/60447437-77ea-479f-a7db-7b6a87106b20.vsidx
/.vs/GIG/FileContentIndex
/.vs
